/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}
/* Navbar Section */
.header{
    width: 100%;
    height: 120vh;
    background-color: #2ecc71;
}
nav{
    display: flex;
    padding: 2% 5%;
}
nav h1{
    cursor: pointer;
    font-size: 35px;
}
nav h1 i{
    transform: scale(1.3);
    color: darkorange;
}
nav ul{
    text-align: right;
    flex: 1;
}
nav ul li{
    display: inline-block;
    padding: 14px 20px;
}
nav ul li a{
    color: black;
    font-size: 16px;
    font-weight: 700;
}
nav ul li a:hover{
    color: #2c1a02;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: #2c1a02;
    transition: .5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* Home Section */
.home{
    display: flex;
    margin-top: 10%;
}
.home-left-side{
    margin-left: 5rem;
}
.home-left-side h1{
    font-size: 72px;
    letter-spacing: 2px;
}
.home-left-side h2{
    font-size: 75px;
    letter-spacing: 2px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
.home-left-side p{
    padding-top: 50px;
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 50px;
}
.btn{
    padding: 13px 50px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bolder;
}
.btn:hover{
    background-color: darkorange;
    color: white;
    transition: .5s;
}
.home-right-side{
    margin-left: 12rem;
}
.home-right-side img{
    width: 90%;
}
.home-right-side img:hover{
    transform: scale(1.1);
    transition: .9s;
}
/* About Section */
.about{
    display: flex;
    margin-top: 15%;
}
.about-left-side{
    margin-left: 4rem;
}
.about-left-side img{
    border-radius: 13px;
    border: 8px solid #2ecc71;
    position: relative;
}
.overlay{
    top: 100%;
    position: absolute;
}
.overlay img{
    margin-top: 420px;
    margin-left: 15rem;
    border: 8px solid #2ecc71;
}
.about-right-side{
    margin-left: 20rem;
}
.about-right-side h2{
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 100 !important;
}
.about-right-side h1{
    font-size: 50px;
    padding-bottom: 30px;
}
span{
    color: darkorange;
    font-weight: 400;
}
.about-right-side h3{
    line-height: 1.7;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 401;
}
.about-right-side p{
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}
/* Salad Section */
.salad{
    margin-top: 10%;
}
.salad h1{
    text-align: center;
    font-size: 50px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}
.card{
    margin: 10px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card:hover{
    background-color: #2ecc71;
    transition: .5s;
}
.card img{
    border-radius: 50%;
    border: 5px solid #2ecc71;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 40px 0;
}
.card h2{
    font-size: 30px;
    padding-bottom: 30px;
}
.card p{
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 50px;
    padding: 0 22px;
    font-weight: 400;
}
/* Menu Section */
.menu{
    width: 100%;
    height: 100vh;
    background-color: #00d084;
    display: flex;
    margin-top: 10%;
}
.menu-left-side{
    margin-top: 10%;
    margin-left: 8rem;
}
.menu-left-side h1{
    font-size: 60px;
    color: white;
}
.menu-flex{
    display: flex;
}
.menu-flex p{
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 60px;
    margin-top: 70px;
    font-weight: 400;
}
.p{
    margin-left: 70px;
}
.flex i{
    padding: 30px 0;
    color: darkorange;
    font-size: 80px;
}
/* Chef Section */
.chef{
    display: flex;
    margin-top: 10%;
}
.chef-left-side{
    margin-top: 5%;
    margin-left: 8rem;
}
.chef-left-side h1{
    font-size: 50px;
    padding-bottom: 40px;
}
.chef-left-side p{
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 60px;
    font-weight: 400;
}
.chef-right-side{
    margin-left: 6rem;
}
/* Testimonial Section */
.testimonial{
    display: flex;
    background-color: #00d084;
    width: 100%;
    height: 110vh;
    padding-top: 10%;
    padding-left: 5rem;
}
.test h1{
    font-style: italic;
    padding-bottom: 20px;
}
.test p{
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}
.test h2{
    font-size: 30px;
}
.icons{
    margin-top: 30px;
    margin-bottom: 40px;
    color: darkorange;
    font-size: 20px;
}
.icons i{
    padding-left: 10px;
}
.test img{
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.testi{
    margin-left: 15rem;
}
/* Contact Section */
.contact{
    margin-top: 10%;
}
.contact h2{
    text-align: center;
    font-size: 50px;   
}
.contact input{
    width: 80%;
    padding: 15px 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid grey;
    font-size: 20px;
    color: black;
    margin-left: 40px;
    margin-top: 80px;
}
button{
    background-color: #00d084;
    padding: 16px 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid grey;
    font-size: 20px;
    color: white;
}
.contact-flex{
    display: flex;
}
.cf{
    padding: 80px 30px;
    margin-left: 40px;
}
.cf h1{
    color: black;
    font-size: 24px;
    padding-bottom: 40px;
    padding-top: 38px;
}
.cf a{
    display: flex;
    line-height: 2.3;
    color: black;
}
.cf a:hover{
    transition: .5s;
    color: #2ecc71;
}
.cf img{
    cursor: pointer;
}
.cf p{
    line-height: 1.7;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 400;
}
.icon i{
    background-color:  #00d084;
    padding: 8px 12px;
    margin: 0 5px;
    color: white;
    font-size: 30px;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 2px solid white;
    background-color: #00d084;
    height: 80px;
    padding: 20px 0;
}
.copyright h1{
    color: white;
    font-size: 25px;
}